.arrow_button {
    position: absolute;
    top: 30px;
    left: 35px;
    background: none;
    padding: 10px 12px;
    opacity: 0.5;
    transition: 1s;
    border-radius: 70%;
    border: 0.5px solid var(--color_dark_grey);
}

.arrow_button:hover {
    cursor: pointer;
    color: var(--color_light_grey);
    background-color: var(--color_dark_grey);
}

.arrow_button:active {
    color: var(--color_light_grey);
}

/* ____________________________________________________ */
/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
    .arrow_button {
        padding: 5px 7px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
