:root {
    --color_red: #FF5757;
    --color_purple: #37303F;
    --color_green: #33d9b2;
    --color_white: #F2F2F2;
    --color_white_opacity: rgba(242, 242, 242, 0.9);
    --color_light_grey: #FFFFFF;
    --color_dark_grey: #485460;
    --color_black: #0E1117;
    --color_black_night: #353b48;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: var(--color_light_grey);
    color: var(--color_dark_grey);
    text-align: center;
}

/* COMMON TO ALL PAGES */
.page_container {
    width: 70%;
    margin: 0 auto;
}

.page_container_narrow {
    width: 30%;
    height: 90vh;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--color_dark_grey);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: var(--color_dark_grey);
}

.main_title {
    margin-top: 50px;
}

.main_title span:hover {
    cursor: pointer;
}

.main_title span:first-child {
    padding-right: 20px;
}

.main_title span:nth-child(2) {
    padding: 0 20px;
}

.main_title span:last-child {
    padding-left: 20px;
}


/* App.js */
#app-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Navigation.js */
#nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: 400;
}

.link_style {
    text-decoration: none;
    transition: 1s;
}

.link_style:hover {
    text-decoration: underline;
    color: black;
}

.link_style:visited {
    color: var(--color_dark_grey);
}


/* Description.js */
#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item_nav_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
}

#item_nav_2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

#item_nav_3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 99%;
    text-align: right;
    margin-right: 1%;
    margin-bottom: 1%;
}

.pic {
    width: 200px;
    margin: 10px 0;
}

/* About.js */
.about_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Contact.js */
.contact_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.network {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 2;
}


/* ____________________________________________________ */
/* MEDIA QUERIES */
@media screen and (max-width: 414px) {
    .page_container_narrow {
        width: 60%;
        height: 100vh;
        margin: 0 auto;
    }
    .about_description h1 {
        margin-top: 300px;
    }
}

@media screen and (min-width: 415px) and (max-width: 576px) {
    .page_container_narrow {
        width: 60%;
        height: 100vh;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5em;
    }
    .about_description h1 {
        margin-top: 9em;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .page_container_narrow {
        width: 70%;
    }
    .about_description h1 {
        margin-top: 140px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page_container_narrow {
        width: 60%;
    }
    .about_description h1 {
        margin-top: 7em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
    .page_container_narrow {
        width: 50%;
    }
    /* .about_description h1 {
        margin-top: 7em;
    } */
}

@media screen and (min-width: 1024px) and (max-width: 1718px) {
    .about_description h1 {
        margin-top: 5em;
    }
}